<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>

  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
  <h1>Welcome, <%= current_user.email %></h1>
  <form action="<%= session_url %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <%= form_validation %>
    <input type="submit" value="Log out!">
  </form>
<% end %>


<% if flash[:errors] %>
  <pre><%= flash[:errors] %></pre>
<% end %>


<%= yield %>

</body>
</html>
